footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}