header {
    display: flex;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%;
}

.logo {
    display: inherit;
    background: url('../images/logo.png') no-repeat center;
    width: 142px;
    height: inherit;
    padding-left: 20px;
}