header {
    display: flex;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    height: 70px;
    width: 100%;
}

.logo {
    display: inherit;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 142px;
    height: 60px;
    padding-left: 20px;
}