.filters {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

button {
    background-color: #FF5A5F;
    border: none;
    border-radius: inherit;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    margin-right: 30px;
}

button:hover {opacity: 90%;}


