.filters {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

button {
    background-color: #FF5A5F;
    border: none;
    border-radius: inherit;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    margin-left: auto;
    margin-right: 30px;
}

button:hover {opacity: 90%;}

.locations {
    height: 100%;
    width: 25%;
    padding-left: 50px;
    border: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
}