.filters {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.filters button {
    background-color: #FF5A5F;
    border: none;
    border-radius: inherit;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    margin-left: auto;
    margin-right: 30px;
}

.filters button:hover {opacity: 90%;}

.locations {
    height: 100%;
    width: 25%;
    padding-left: 50px;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    padding-left: 50px;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 0 0;
}

.popover {
    position: relative;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    list-style-type: none;
    z-index: 1;
    margin-top: 13px;
    margin-left: -51px;
    padding: 35px 50px 10px 0;
}

.locations:hover > .popover {display: block;}

.amenities:hover > .popover {display: block;}

.popover h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

.popover ul {
    list-style-type: none;
    padding-bottom: 2em;
}

.popover li:not(:last-child) {
    margin-bottom: 5px;
}

.locations > .popover > li {
    margin-left: 25px;
}

.locations > .popover > li > ul {
    padding-left: 20px;
}

.amenities > .popover {
    padding-bottom: 30px;
}

.amenities > .popover > li {
    margin-left: 50px;
    margin-bottom: 5px;
}
