.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 0;
    justify-content: center;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 15px;
    margin-bottom: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}

.places article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
    align-self: center;
    margin: 0;
}

.price_by_night {
    display: flex;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    vertical-align: top;
    top: 20px;
    right: 20px;
    padding: 2%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 60px;
}

.max_guests, .number_rooms, .number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guests p, .number_rooms p, .number_bathrooms p {
    margin-top: auto;
    margin-bottom: auto;
}

.max_guests_icon {
    margin: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_group.png') no-repeat center;
}

.number_rooms_icon {
    margin: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_bed.png') no-repeat center;
}

.number_bathrooms_icon {
    margin: auto;
    height: 50px;
    width: 50px;
    background: url('../images/icon_bath.png') no-repeat center;
}

.user {
    margin-top: 10px;
    margin-bottom: -10px;
}

.description {
    margin: 0;
}
