.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 0;
    justify-content: center;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 15px;
    margin-bottom: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}

.places article {
    display: flex;
    justify-content: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
}